<launch>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
	    <param name="video_device" value="/dev/video0" />
	    <param name="image_width" value="1920" />
	    <param name="image_height" value="1080" />
	    <param name="pixel_format" value="yuyv" />
	    <param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
		<param name="camera_info_url" value="file:///home/ryanzumbrunnen/.ros/camera_info/head_camera.yaml" />
	</node>
		<arg name="marker_size" default="6.5" />
		<arg name="max_new_marker_error" default="0.08" />
		<arg name="max_track_error" default="0.2" />
	        
		<arg name="cam_image_topic" default="/usb_cam/image_raw" />
		<arg name="cam_info_topic" default="/usb_cam/camera_info" />
	        
		<arg name="output_frame" default="usb_cam" />
		<arg name="bundle_files" default="$(find ros_tutorials)/tag0.xml $(find ros_tutorials)/tag4.xml $(find ros_tutorials)/tag8.xml" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />
</launch>
